/* CSS rule to style the heading */
h1 {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-weight: lighter;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-weight: 100;
}
ul {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 2;
    font-size: medium;
}
/* CSS rule to style paragraphs */
p {
    font-family: Arial, sans-serif;
    line-height: 2.0;
    color: white
}

/* CSS rule to style the image */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

body {
    background-color: rgb(53, 99, 53);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  p {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}















